<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Main</title>
</head>
<body>
<h1> Ingresar nuevo contribuye</h1>
	<form th:action="@{/save}" th:object="${contribuyente}" method="post">
	<input type="hidden" name="codigo" class="form-control" th:field="*{codigo}" />
	
		<label> Nombre: </label>
		<input th:field="*{nombre}" type="text">
		<span th:errors="*{nombre}" style="color:#E81505"></span><br>
		
		<label> Apellido: </label>
		<input th:field="*{apellido}" type="text"/>
		<span th:errors="*{apellido}" style="color:#E81505"></span><br>
		
		<label> NIT: </label>
		<input th:field="*{nit}" type="number"/>
		<span th:errors="*{nit}" style="color:#E81505"></span><br>
		
		<label for="importancia"> Importancia:</label>
		<select name="importancia" id="importancia" th:field="*{c_importancia}">
			<option th:each="importancia, row:${importancias}" th:value="${importancia.c_importancia}" th:text="${importancia.s_importancia}"></option>
		</select> <br>
		
		<input type="submit" value="Guardar">
		
	</form>
	
	<form th:action="@{/listaContribuyente}" method="POST">
        <input type="submit" value="Ver contribuyentes">
    </form>


</body>
</html>